body {
  max-width: 500px;
  margin: 2em auto;
  padding: 0 1em;
  font-size: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

input,
button {
  margin-top: 1em;
}