* {
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 2em auto;
    padding: 0 0.5em;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

#file-info {
    margin-top: 1em;
}

#log {
    margin-top: 1em;
    border: 1px solid #333333;
    padding: 1em;
}
